# Project verification

Realizacja poniższych punktów opatrzona komentarzem słownym.

1. Użytkownik w roli administratora zarządzającego danymi
 a. Próba otwarcia panelu wymaga zalogowania;
 b. Użytkownik loguje się bez uprawnień administracyjnych -> brak dostępu;
 c. Użytkownik loguje się z uprawnieniami administracyjnymi;
 d. Użytkownik wyświetla zdjęcia, może przejrzeć wszystkie nowo dodane od ostatniego zalogowania;
 e. Użytkownik wybiera nieodpowiednie zdjęcie, ustawia blokadę dla autora zdjęcia;
2. Przeglądanie zdjęć - proszę zaprezentować/omówić:
 a. główne elementy portalu,
 b. zmianę stylu wyglądu portalu,
 c. przechodzenie między poziomami hierarchicznej struktury,
 d. przedstawianie użytkownikowi aktualnego miejsca w strukturze portalu,
 e. wyszukiwanie/filtrowanie materiałów po różnych kryteriach, w tym obsługa pustego zbioru wyników wyszukiwania (informacyjny komunikat dla użytkownika), ew. sortowanie i in.
3. Dodawanie materiałów przez twórcę - zalogowanego użytkownika:
 a. Użytkownik wylogowuje się oraz loguje się na swoje konto/ użytkownik zablokowany loguje się na swoje konto;
 b. Użytkownik dodaje zdjęcie - proszę pokazać jakie pola są do uzupełnienia, które są obowiązkowe, jakie są typy danych, tagi, etc..,
 c. Użytkownik przegląda własne materiały - zaprezentować aktywności z punktu 2 jeśli mają zastosowanie;
 d. Użytkownik modyfikuje/usuwa wybrane elementy ze swojej kolekcji;
4. Weryfikacja dostępności aplikacji
 a. Prezentujący przy pomocy wtyczki WAVE prezentuje na stronie głównej wyniki weryfikacji dostępności aplikacji: podsumowanie, szczegóły i kod html.
5. Prezentacja danych z bazy danych
 a. Prezentujący przy pomocy dowolnego narzędzia (np. dostępu do bazy z linii poleceń) pokazuje obiekty w bazie definiujące materiały dodane w pkt 3b.
6. Prezentacja API
 a. Prezentujący przy pomocy dowolnego narzędzia (np. curl z linii poleceń) pokazuje wywołania api udostępnianych przez backend, w szczególności publiczne api udostępniające informację o wszystkich materiałach oraz wybrane api prywatne (np. umożliwiające dodanie materiałów przez twórcę).
 b. uwaga: jeżeli prezentowane api wymaga uwierzytelnienia, to może być ono pokazane przy użyciu danych z sesji dostępnej w przeglądarce.
7. Prezentacja kodu w gitlabie
 a. Prezentujący krótko przedstawia główne moduły aplikacji i ich podział w strukturze kodu w gitlabie.
